@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #6b7280;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b700ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.heading::after {
  background-color: #8424aa;
  content: "";
  display: block;
  height: 0.4rem;
  margin: 0.8rem auto 0;
  width: 8rem;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.description span {
  font-family: 'Finger Paint', cursive;
  color: #8424aa;
}

.skills {
  padding: 1rem;
}

#skills img {
  height: 70px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.containers {
  display: flex;
  width: 26%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  padding: 0.5rem;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #47bcd4;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

.HOVER {
  --width: 100%;
  --time: 0.7s;

  position: relative;
  display: inline-block;
  overflow: hidden;
}

.HOVER span {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
  width: calc(var(--width) * 2.4);
  padding-top: calc(var(--width) * 2.4);
}

.skill-hover {
  position: absolute;
  bottom: 5%;
  left: 10%;
  transform: translate(0%, -5%);
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s;
  margin: 0 auto;
}

.skill-hover img {
  object-fit: contain;
}

.icon-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.HOVER:hover .icon-hover,
.HOVER:hover .skill-hover {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .containers {
    width: auto;
  }
}
