@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #6b7280;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b700ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.heading::after {
  background-color: #8424aa;
  content: "";
  display: block;
  height: 0.4rem;
  margin: 0.8rem auto 0;
  width: 8rem;
}

.HOVER {
  --width: 100%;
  --time: 0.7s;
}

.HOVER span {
  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
  width: calc(var(--width) * 2.4);
  padding-top: calc(var(--width) * 2.4);
}

.skill-hover {
  transform: translate(0%, -5%);
  transition: opacity 0.3s;
}

.icon-hover {
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.HOVER:hover .icon-hover,
.HOVER:hover .skill-hover {
  opacity: 1;
}
